.yle__app,
.yp9epad,
.enSUMJ,
.elYoom,
.dpUsvk,
.bZrYQR,
.ijJCTU,
.hzoVYS,
.eSMnsb,
.ISzst,
.gQMVMs,
.dOSaxm,
.dvctWv,
._10nc4xu0,
._1svl7jy1,
.gYfglR,
.jHppbC,
.jrwYRK,
.yo-exam-root,
.yp9epac, /* HEADER */ 
.dyRDfw /* NEWS SWIPER HEADER */ {
  background: #111 !important;
}

a,
p,
h1,
h2,
h3,
time,
span,
strong,
div {
  color: #ddd !important;
}

.bcNzJO {
  /* Frontpage most read news list numbers */
  color: rgb(19, 20, 21) !important;
}

.hAIasF {
  /* Question choice background */
  background-color: #222 !important;
}
