div,
aside,
article,
.aw-2kxhaj {
  background-color: #111 !important;
}

.yle-header-container,
.yle-header-actions div {
  background-color: #262a2e !important;
}

h1,
h2,
h3,
a,
time,
span,
p,
button,
.aw-2kxhaj,
li div {
  color: #ddd !important;
}

.dAfKAI {
  border-bottom: 8px solid #222 !important;
}
